body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #9dc49d;
    font-size: 30px;
}

a {
    color: #0606c162;
}

ul {
    border: solid 5px red;
}

.delete-form {
    display: inline-block;
    margin-right: 10px;
}

.delete-form button {
    color: red;
}

li {
    list-style: none;
}